html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: silver;
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li,
a {
    display: inline-block;
    font-family: 'Raleway', sans-serif !important;
    text-decoration: none;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

/* HOME Section */

/* Navbar menu  */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/unsplashA.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 99;
}

nav.top-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
}

.nav-links a {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #35013a;
}

.nav-links li {
    margin: 0.5rem 0rem;
}

.nav-links li>a {
    font-size: 16px;
    padding: 0.7rem 1.5rem;
    border-radius: 50px 0 50px 0;
    box-shadow: 3px 3px 11px 0px rgba(128, 4, 190, 0.62);
}

.nav-links li>a:hover {
    cursor: pointer;
    color: magenta;
    box-shadow: 3px 3px 11px -3px rgba(249, 248, 250, 0.966);
}

.active {
    color: magenta !important;
    box-shadow: 3px 3px 11px -3px rgba(249, 248, 250, 0.966) !important;
}

/* Menu button for the sub-menu */

button#close-menu-btn {
    display: none;
    position: absolute;
    top: 1rem;
    left: 2rem;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
}

button#close-menu-btn:focus {
    box-shadow: 3px 3px 11px -3px rgba(249, 248, 250, 0.966);
}

button#close-menu-btn>i {
    color: magenta;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #35013a;
}

/* Center heading part  */

.centered {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/unsplashA.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

h1 {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px #35013a;
    margin-left: 1rem;
    margin-right: 1rem;
}

div.blur {
    position: absolute;
    line-height: 1.7;
    bottom: 0;
    background: rgba(20, 1, 44, 0.3);
    color: #f1f1f1;
    width: 100%;
    padding: 1rem 5rem 1rem 5rem;
    z-index: 20;
    /* backdrop-filter: blur(5px); */
}

p.intro {
    font-size: 16px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
}

span.sm-name {
    color: magenta;
    font-size: 25px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #35013a;
}

.blur hr {
    width: 60%;
    background-color: magenta;
}

.nav-icons {
    text-align: center;
}

.nav-icons li>a {
    margin: 0rem 1.5rem;
    font-size: 2rem;
}

.fab {
    padding: 0.5rem 0.5rem;
}

.nav-icons i.fa-facebook-f {
    color: #4267B2;
}

.nav-icons i.fa-instagram {
    color: rgb(255, 0, 140);
}

.nav-icons i.fa-linkedin-in {
    color: #0187c2;
}

.nav-icons i.fa-github {
    color: rgb(158, 6, 196);
}

.nav-icons i.fa-gitlab {
    color: #FCA326;
}

.nav-icons i:hover {
    color: white;
}

.centered span.material-icons {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
}

.centered span.material-icons:hover {
    cursor: pointer;
    color: magenta;
}

/* ABOUT Section  */

#about {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.99), rgba(247, 101, 239, 0.897));
}

.about-img {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}

.about-img img {
    width: 100%;
    opacity: 0.7;
}

.image-txt {
    font-style: italic;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 5%;
    right: 5%;
}

.image-txt div {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 16px;
    box-shadow: inset 0px -8px 44px -3px rgba(199, 1, 189, 0.7);
    text-shadow: 1px 1px 1px #35013a;
}

br.email-break,
br.email-break-2 {
    display: none;
}

.image-txt>div .material-icons {
    padding: 0rem 1rem;
    color: magenta;
}

.about-txt {
    margin-top: 5%;
    margin-bottom: 5%;
    border-left: 1px solid magenta;
}

h2.h2-about {
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 700;
    color: white;
    margin: 1rem 2rem;
}

p.p-top-txt {
    margin: 1rem 2rem;
    color: white;
    letter-spacing: 2px;
    line-height: 1.7;
}

.about-info h4 {
    color: white;
    margin: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.contact-details p {
    color: white;
    margin: 0rem 2rem 0rem 2rem;
    font-style: italic;
    letter-spacing: 2px;
}

p.colored-name {
    color: magenta;
    text-shadow: 1px 1px 1px #35013a;
}

/* Download Button za .pdf Resume (in Modal) */

.resume {
    display: flex;
    align-items: center;
}

.rad {
    color: white;
    width: 320px;
    border-radius: 5px;
    height: 70px;
    line-height: 70px;
    margin: 0.5rem;
    letter-spacing: 5px;
    transition: all ease 1s;
    background-size: 400% 400%;
    border: 0;
    white-space: normal;
    /* background-position: 0 0; */
}

.radiant-1 {
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 51%, #fc00ff 100%);
}

.radiant-1:hover {
    background-position: 100% 50%;
    color: black;
}

.radiant-1:focus {
    outline: 0px;
}

/* Modal  */

.modal-resume-content {
    background-color: rgb(126, 90, 160);
}

.modal-resume-title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

/* SECTION RESUME */

#resume {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

.new-resume img {
    width: 100%;
}

#resume .col,
.res {
    padding-left: 0px;
    padding-right: 0px;
}

.position-text-img {
    display: none;
}

.res-text-1,
.res-text-2,
.res-text-3 {
    padding: 1rem 3.5rem;
    text-align: start;
    color: white;
}

.res-text-1 h3,
.res-text-2 h3,
.res-text-3 h3 {
    display: block;
    border-bottom: 1px solid magenta;
}

h5.skills {
    display: inline-block;
    margin: 0.3rem 0.5rem;
}

.res-img-1,
.res-img-2,
.res-img-3 {
    position: relative;
}

.res-info {
    background-color: black;
}

.res-info img {
    opacity: 0.5;
}

.res-info h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

/* SECTION WORKS  */

#works {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

#works h2 {
    color: magenta;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.c-card {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

a.a-card {
    cursor: pointer;
    display: block;
    width: 100%;
}

.c-card img.img-card {
    height: 280px;
    width: 100%;
    overflow: hidden;
    transition: linear 0.3s;

}

a.a-card:hover img.img-card {
    opacity: 0.25;
}

a.a-card:hover span.material-icons,
a.a-card:hover .c-txt {
    opacity: 1;
}

a.a-card:focus img.img-card {
    opacity: 0.25;
}

a.a-card:focus span.material-icons,
a.a-card:focus .c-txt {
    opacity: 1;
}

.c-card span.material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: magenta;
    font-size: 3rem;
    opacity: 0;
}

.c-txt {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    text-shadow: 1px 1px 1px #35013a;
    opacity: 0;
}

/* Works sections - Modals  */

div.modal-content-works {
    background-color: #f1f1f1;
}

div.modal-dialog-works {
    max-width: 600px;
    border: none;
    border-radius: 0px;
}

.modal-body {
    background-color: #f1f1f1;
    padding: 0px;

}

h5.modal-hdr {
    color: black;
    padding: 0.5rem 1rem;
}

p.modal-txt {
    color: black;
    padding-left: 1rem;
}

.modal-body img {
    max-width: 100%;
    height: auto;
}

.modal-footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    border-top: 0px;
}

.btn-modal {
    color: magenta;
    letter-spacing: 3px;
    border-radius: 0px;
}

.btn-modal:hover {
    color: magenta;
    border-bottom: 1px solid magenta;
}

.btn-modal:focus {
    box-shadow: none;
    border-bottom: 1px solid magenta;
}

/* SECTION RANDOM  */

#interests {
    padding-left: 0px;
    padding-right: 0px;
}

div.darken-caro {
    background-color: black;
    height: 90vh;
}

img.darken-img {
    opacity: 0.4;
}

span.caro-caret {
    color: magenta;
    font-size: 3rem;
}

.carousel-indicators {
    bottom: 20px;
}

.carousel-indicators li {
    background-color: magenta;
}

.carousel-caption {
    bottom: 100px;
}

.carousel-caption h5 {
    text-align: justify;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 1px #35013a;
}

.carousel-caption p {
    font-size: 1.25rem;
    text-align: justify;
    font-style: italic;
    color: white;
    text-shadow: 1px 1px 1px #35013a;
}

/* SECTION CONTACT  */

#contact {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/ribbon.jpg');
    background-size: cover;
    background-position: center;
    color: black;
}

.contact-intro {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h2.contact-heading {
    color: black;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.contact-intro p {
    line-height: 1.7;
    letter-spacing: 2px;
}

label {
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
}

input.form-control {
    background-color: transparent;
    border-bottom: 2px solid cyan;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

input.form-control:focus,
textarea.form-control:focus {
    border-bottom: 2px solid magenta;
    background-color: transparent;
    box-shadow: none;
}

textarea.form-control {
    background-color: transparent;
    border: 2px solid cyan;
}

textarea.form-control:focus {
    border: 2px solid magenta;
}

button.submit-btn {
    background-color: transparent;
    width: 100%;
    letter-spacing: 5px;
    border: 2px solid cyan;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: 0.5s;
}

button.submit-btn:hover {
    background-color: cyan;
    letter-spacing: 10px;
}

.contact-h4 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 2rem;
}

.contact-txt-right h5 {
    font-weight: 600;
}

.contact-txt-right p {
    font-style: italic;
}

.person span {
    font-size: 5rem;
}

/* SECTION FOOTER  */

#footer {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

footer {
    padding: 10%;
}

.copy-rights p {
    color: white;
    margin: 0;
    padding-bottom: 1.5rem;
    white-space: normal;
}

span.scroll-top {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    color: magenta;
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: rgba(46, 45, 45, 1);
    cursor: pointer;
    transition: 0.3s;
}

span.scroll-top:hover {
    background-color: rgb(5, 255, 255);
    color: black;
}

/* RESPONSIVENESS For Tablet and Mobile devices */

@media only screen and (max-width: 1200px) {

    /* HOME section */

    h1 {
        font-size: 3rem;
    }

    /* Resume section */

    .image-txt {
        position: unset;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 16px;
    }

    .image-txt div {
        box-shadow: inset 0px -8px 44px -3px rgba(77, 1, 73, 0.7);
        font-size: 12px;
    }

    .rad {
        width: 250px;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        letter-spacing: 3px;
    }

    /* Resume section */

    .res-text-1 h3,
    .res-text-2 h3,
    .res-text-3 h3 {
        font-size: 1.25rem;
    }

    .res-text-1 h5,
    .res-text-2 h5,
    .res-text-3 h5 {
        font-size: 1rem;
    }

    .res-info h3 {
        font-size: 2rem;
    }

    .res-text-1,
    .res-text-2,
    .res-text-3 {
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 960px) {

    /* HOME section */

    h1 {
        font-size: 2.8rem;
    }

    span.sm-name {
        font-size: 20px;
    }

    p.intro {
        font-size: 14px;
    }

    .nav-links li>a {
        font-size: 14px;
    }

    i.fab {
        font-size: 25px;
    }

    /* About section */

    .about-txt {
        font-size: 14px;
        letter-spacing: 1px;
    }

    br.email-break {
        display: inline-block;
    }

    .about-info h4 {
        margin: 1rem 2rem;
    }

    /* Resume section */

    .res-text-1 h3,
    .res-text-2 h3,
    .res-text-3 h3 {
        font-size: 1.1rem;
    }

    .res-text-1 h5,
    .res-text-2 h5,
    .res-text-3 h5 {
        font-size: 0.9rem;
    }

    .res-info h3 {
        font-size: 1.5rem;
    }

    /* Works section */



    /* Random section  */

    .carousel-caption h5 {
        font-size: 2.2rem;
    }

    .carousel-caption p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {

    /* HOME section */

    .nav-links li>a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {

    /* Home section  */

    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        height: 75px;
        display: block;
    }

    button#close-menu-btn {
        display: block;
    }

    div.nav-links {
        display: none;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        padding: 1rem 2rem;
    }

    .top-scroll-links > li {
        display: block;
        margin: 1rem 0rem;
    }

    .centered {
        min-height: 739px;
    }

    h1 {
        top: 35%;
    }

    div.blur {
        padding: 1rem;
    }

    /* About section  */

    .resume button {
        margin: 1rem 2rem;
    }

    .contact-details {
        font-size: 12px;
    }

    .rad {
        width: fit-content;
        line-height: unset;
        height: fit-content;
        padding: 15px 20px;
    }

    /* Resume section */

    .res-text-1,
    .res-text-2,
    .res-text-3 {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .res {
        justify-content: center;
    }

    .res-info h3 {
        font-size: 2.5rem;
    }

    .res-text-1 h5,
    .res-text-2 h5,
    .res-text-3 h5 {
        font-size: 1.25rem;
    }

    .res-text-1 h3,
    .res-text-2 h3,
    .res-text-3 h3 {
        font-size: 1.5rem;
    }

    /* Works section */

    .c-card img.img-card {
        height: auto;
    }

    /* Random section */

    div.darken-caro {
        height: 100%;
    }

    .carousel-caption {
        bottom: 100px;
    }

    .carousel-indicators {
        bottom: 20px;
    }
}

@media only screen and (max-width: 660px) {

    /* Home section  */

    h1 {
        top: 30%;
        /* font-size: 2.5rem; */
    }
}



@media only screen and (max-width: 575px) {
    /* Home section  */

    h1 {
        font-size: 2.2rem;
    }

    span.sm-name {
        font-size: 18px;
    }

    /* About section  */

    br.email-break {
        display: none;
    }

    h2.h2-about,
    h2.contact-heading,
    .res-info h3,
    #works h2 {
        font-size: 1.5rem;
    }

    .about-info h4 {
        font-size: 1rem;
    }

    /* Resume section */

    .res-text-1 h3,
    .res-text-2 h3,
    .res-text-3 h3 {
        font-size: 1.25rem;
    }

    .res-text-1 h5,
    .res-text-2 h5,
    .res-text-3 h5 {
        font-size: 1rem;
    }

    /* Contact section  */

    label {
        margin: 0;
    }

    /* Random section  */

    .carousel-caption h5 {
        font-size: 1.2rem;
    }

    .carousel-caption {
        bottom: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .carousel-indicators {
        bottom: 0px;
    }

    span.caro-caret {
        color: magenta;
        font-size: 2rem;
    }

    /* Footer section */

    footer {
        padding: 15%;
    }

    .nav-icons li>a {
        margin: 0rem 1rem;
    }

    span.scroll-top {
        font-size: 2.5rem;
        padding: 0.5rem;
    }

}

@media only screen and (max-width: 525px) {
    h1 {
        top: 18%;
    }

    button#close-menu-btn>i {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        top: 15%;
        font-size: 1.7rem;
    }

    i.fab {
        font-size: 20px;
    }

    .nav-icons li>a {
        font-size: 1rem;
        margin: 0rem 0.3rem;
    }

    .blur hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* Random section  */

    .carousel-caption h5 {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 305px) {
    h1 {
        font-size: 1.5rem;
    }

    h2.h2-about,
    h2.contact-heading,
    .res-info h3,
    #works h2 {
        font-size: 1.3rem;
    }

    .contact-intro p {
        font-size: 0.9rem;
    }

    .contact-txt-right h4 {
        font-size: 1.3rem;
    }

    .contact-txt-right h5 {
        font-size: 1rem;
    }

    span.sm-name {
        font-size: 16px;
    }

    i.fab {
        font-size: 18px;
    }

    /* About section  */

    br.email-break,
    br.email-break-2 {
        display: block;
    }

    .resume {
        margin: 0rem;
    }

    .rad {
        padding: 10px 15px;
        font-size: 12px;
    }

    /* Random section  */

    .carousel-caption h5 {
        font-size: 0.9rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }

    .carousel-caption p {
        font-size: 12px;
        margin-bottom: 0px;
    }

    /* Resume section  */

    .res-info h3 {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 260px) {
    h1 {
        display: none;
    }
}