html,
body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* This code sets the play state of everything on the page to “paused”, whenever the body has the class js-loading.
It will make sure it applies to all of the :before and :after pseudo-elements also. */
.loading *,
.loading *:before,
.loading *:after {
  animation-play-state: paused !important;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li,
a {
    display: inline-block;
    font-family: 'Raleway', sans-serif !important;
    text-decoration: none;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

/* HOME Section */

#home {
    background-color: #2cafd8;
}

/* Navbar menu  */

header {
    background-image: url(../images/background-g3ac847d3b_1280.jpg);
    /* background-color: #fdcf78; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 99;
    transition: top 0.15s ease-in-out; /* Transition effect when sliding down (and up) */
}

nav.top-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
}

.nav-links a {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    letter-spacing: 3px;
}

.nav-links li {
    margin: 0.5rem 0rem;
}

.nav-links li>a {
    font-size: 16px;
    padding: 0.7rem 1.5rem;
}

.nav-links li>a:hover {
    cursor: pointer;
    color: #000000;
    text-shadow: none;
}

.active {
    color: #000000 !important;
    border-bottom: 1px solid #000000;
    text-shadow: none !important;
}

/* Menu button for the sub-menu */

button#close-menu-btn {
    display: none;
    position: absolute;
    top: 1rem;
    left: 2rem;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
}

button#close-menu-btn:focus {
    box-shadow: 3px 3px 11px -3px rgba(249, 248, 250, 0.966);
}

button#close-menu-btn>i {
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #35013a;
}

/* Center heading part  */

.centered {
    background-image: url('../images/background-g3ac847d3b_1280.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    animation: bg-hero 1s forwards ease;
    opacity: 0;
}

@keyframes bg-hero {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

h1 {
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 0;
    right: 0;
    color: black;
    text-align: center;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 15px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px black;
    padding: 1rem 0;
    margin-left: 10%;
    margin-right: 10%;
    animation: fade_in_anime 2s 2s forwards;
    opacity: 0;
}

@keyframes fade_in_anime {
    0% {
        opacity: 0;
        letter-spacing: -10px;
        background-color: transparent;
        color: white;
    }
    100% {
        opacity: 1;
        letter-spacing: 15px;
        color: black;
        background-color: white;
    }
}

div.blur {
    position: absolute;
    line-height: 1.7;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 1rem 5rem 1rem 5rem;
    z-index: 20;
    animation: blur-text 2s 1s forwards;
    /* transform: translateY(220px); */
    opacity: 0;
    /* backdrop-filter: blur(5px); */
}

@keyframes blur-text {
    0% {
        /* transform: translateY(220px); */
        opacity: 0;
    }
    100% {
        /* transform: translateY(0); */
        opacity: 1;
    }
}

p.intro {
    font-size: 16px;
    color: black;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
}

span.sm-name {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    /* text-shadow: 1px 1px 1px #000000; */
}

.blur hr {
    width: 60%;
    background-color: black;
}

.nav-icons {
    text-align: center;
}

.nav-icons li>a {
    margin: 0rem 1.5rem;
    font-size: 1.5rem;
    position: relative;
}

.fab {
    padding: 0.5rem 0.5rem;
}

.fab {
    color: black;
}

.nav-icons span {
    color: white;
}

.nav-icons li>a:hover i.fab{
    color: white;
}

.nav-icons li>a:hover span {
    color: black;
}

.nav-icons li>a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scale(0);
    transform-origin: right center;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-icons li>a:hover::before {
    transform: scale(1); 
    transform-origin: left center; 
}

.centered span.material-icons {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
}

.centered span.material-icons:hover {
    cursor: pointer;
    color: black;
}

/* ABOUT Section  */

#about {
   background-color: #82ebe3;
   padding: 5%;
}

.about-img {
    position: relative;
    padding: 2rem;
    margin-top: 5%;
    background-color: #fdcf78;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.384);
}

.about-img img {
    width: 100%;
}

.image-txt {
    font-style: italic;
    letter-spacing: 2px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 16px;
}

.image-txt div {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 16px;
    color: black;
    border-bottom: 1px solid black;
    font-size: 12px;
}

br.email-break,
br.email-break-2 {
    display: none;
}

.material-icons {
    padding: 0rem 1rem;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.about-txt {
    margin-top: 5%;
    margin-bottom: 5%;
}

h2.h2-about {
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 2rem;
}

p.p-top-txt {
    margin: 1rem 2rem;
    color: black;
    letter-spacing: 2px;
    line-height: 1.7;
}

.about-info h4 {
    color: black;
    margin: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.contact-details p {
    color: black;
    margin: 0rem 2rem 0rem 2rem;
    font-style: italic;
    letter-spacing: 2px;
}

p.colored-name {
    color: white;
}

/* Download Button za .pdf Resume (in Modal) */

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding-top: 2rem;
}

.btn-cv {
    position: relative;
    display: inline-block;
    color: #ffffff;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 200;
    margin: 2rem;
    outline: none;
    border: 0;
    background-color: transparent;
    padding: 0;
    letter-spacing: 5px;
    text-transform: uppercase;
    white-space: normal;
}

.btn-cv:hover {
    color: black;
}

.btn-cv:focus {
    outline: none;
}

.btn-cv>span {
    position: relative;
    display: inline-block;
    padding: 1.2rem 2.2rem;
}

.btn-cv::before,
.btn-cv::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-color: black;
    transition: all 0.3s ease;
}

.btn-cv>span::before,
.btn-cv>span::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: black;
    transition: all 0.3s ease;
}

.btn-cv::before {
    height: 50%;
    width: 1px;
}

.btn-cv::after {
    width: 20%;
    height: 1px;
}

.btn-cv:hover::before,
.btn-cv>span:hover::before {
    height: 100%;
}

.btn-cv:hover::after,
.btn-cv>span:hover::after {
    width: 100%;
}

.btn-cv>span::before {
    width: 1px;
    height: 50%;
}

.btn-cv>span::after {
    width: 20%;
    height: 1px;
}

/* Modal  */

.modal-resume-content {
    background-color: rgb(189, 166, 211);
}

.modal-resume-title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

/* SECTION RESUME */

#resume {
    background-color: #2cafd8;
}

.new-resume img {
    width: 100%;
}

#resume .col,
.res {
    padding-left: 0px;
    padding-right: 0px;
}

.position-text-img {
    display: none;
}

.res-txt-1 {
    background-color: #2cafd8;
}

.res-txt-2 {
    background-color: #fdcf78;
}

.res-txt-3 {
    background-color: #9596cd;
}

.res-text-1,
.res-text-2,
.res-text-3 {
    padding: 1rem 3.5rem;
    text-align: start;
    color: white;
}

.res-text-1 h3,
.res-text-2 h3,
.res-text-3 h3 {
    display: block;
    border-bottom: 1px solid black;
}

h5.skills {
    display: inline-block;
    margin: 0.3rem 0.5rem;
}

.res-img-1,
.res-img-2,
.res-img-3 {
    position: relative;
}

.one {
    background-color: #2cafd8;
}

.two {
    background-color: #fdcf78;
}

.three {
    background-color: #9596cd;
}

.res-info img {
    opacity: 0.55;
}

.res-info h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5rem;
    letter-spacing: 5px;
    background-color: white;
    padding: 0.5rem;
}

/* SECTION WORKS  */

#works {
    background-color: white;
    padding-bottom: 10%;
}

#works h2 {
    display: inline-block;
    color: #9596cd;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 6rem;
    margin-bottom: 6rem;
    transition: ease-out 0.7s;
    position: relative;
}

#works h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scale(0);
    /* transform-origin: right center; */
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
#works h2:hover::before {
    transform: scale(1); 
    /* transform-origin: left center;  */
}

#works h2:hover {
    color: black;
}

span.letters {
    display: inline-block;
}

.row-cards {
    padding-left: 5%;
    padding-right: 5%;
}

.c-card {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 30px;
    transform: scale(0.95);
    box-shadow: 10px 20px 30px #9596cd;
}

a.a-card {
    cursor: pointer;
    display: block;
    width: 100%;
}

.project {
    background-color: white;
    padding: 1rem;
    text-align: center;
    margin: 0;
    color: black;
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-card img.img-card {
    height: 280px;
    width: 100%;
    overflow: hidden;
    transition: linear 0.3s;
}

a.a-card:hover img.img-card,
a.a-card:focus img.img-card {
    opacity: 0.35;
    transform: scale(0.95);
    background-color: #9596cd;
}

a.a-card:hover .project, a.a-card:focus .project {
    visibility: hidden;
}

a.a-card:hover span.material-icons,
a.a-card:hover .c-txt {
    opacity: 1;
    transition: ease-in 0.5s;
}

a.a-card:focus span.material-icons,
a.a-card:focus .c-txt {
    opacity: 1;
}

.c-card span.material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 3rem;
    opacity: 0;
}

.c-txt {
    position: absolute;
    top: 15px;
    left: 25px;
    color: white;
    text-shadow: 1px 1px 1px #35013a;
    opacity: 0;
}

/* Works sections - Modals  */

div.modal-content-works {
    background-color: #f1f1f1;
}

div.modal-dialog-works {
    max-width: 600px;
    border: none;
    border-radius: 0px;
}

.modal-body {
    background-color: #f1f1f1;
    padding: 0px;

}

h5.modal-hdr {
    color: rgb(25, 15, 50);
    padding: 0.5rem 1rem;
}

p.modal-txt {
    color: rgb(25, 15, 50);
    padding-left: 1rem;
}

.modal-body img {
    max-width: 100%;
    height: auto;
}

.modal-footer {
    background-color: #9596cd;
    border-top: 0px;
}

.btn-modal {
    color: white;
    letter-spacing: 3px;
    border-radius: 0px;
    transition: linear 0.3s;
}

.btn-modal:hover {
    color: black;
    border-bottom: 1px solid black;
}

.btn-modal:focus {
    box-shadow: none;
    border-bottom: 1px solid plum;
    transition: linear 0.3s;
}

/* SECTION CONTACT  */

#contact {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: #2cafd8;
    background-size: cover;
    background-position: center;
    color: white;
}

.contact-intro {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h2.contact-heading {
    color: black;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.contact-intro p {
    line-height: 1.7;
    letter-spacing: 2px;
}

label {
    font-style: italic;
    font-size: 14px;
}

input.form-control {
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

input.form-control:focus,
textarea.form-control:focus {
    border-bottom: 1px solid #fdcf78;
    background-color: transparent;
    box-shadow: none;
}

textarea.form-control {
    background-color: transparent;
    border: 1px solid black;
}

textarea.form-control:focus {
    border: 1px solid #fdcf78;
}

button.submit-btn {
    background-color: transparent;
    width: 100%;
    letter-spacing: 5px;
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: 0.5s;
    color: white;
}

button.submit-btn:hover {
    background-color: white;
    border: 1px solid white;
    letter-spacing: 10px;
}

.contact-h4 {
    margin-bottom: 2rem;
}

.contact-txt-right p {
    font-style: italic;
}

.person span {
    font-size: 5rem;
    color: plum;
}   

.small-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* SECTION FOOTER  */

#footer {
    position: relative;
    background-color: #fdcf78;
    border-top: 1px solid #82ebe3;
}

footer {
    padding: 5%;
}

.copy-rights p {
    color: black;
    margin: 0;
    padding: 1rem 0;
    white-space: normal;
}

span.scroll-top {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

span.scroll-top:hover {
    background-color: black;
    color: white;
}

/* RESPONSIVENESS For Large screens, Tablet and Mobile devices */

@media only screen and (min-width: 1600px) {
    .c-card img.img-card {
        height: 380px;
    }
}

@media only screen and (min-width: 1800px) {
    .c-card img.img-card {
        height: 480px;
    }
}

@media only screen and (min-width: 2000px) {
    .c-card img.img-card {
        height: 580px;
    }
}

@media only screen and (max-width: 1200px) {

    /* HOME section */

    h1 {
        font-size: 2rem;
    }

    /* Resume section */

    .image-txt {
        position: unset;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 16px;
    }

    .image-txt div {
        font-size: 12px;
    }

    .rad {
        width: 250px;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .res-text-1 h3,
    .res-text-2 h3,
    .res-text-3 h3 {
        font-size: 1.25rem;
    }

    .res-text-1 h5,
    .res-text-2 h5,
    .res-text-3 h5 {
        font-size: 1rem;
    }

    .res-info h3 {
        font-size: 2rem;
    }

    .res-text-1,
    .res-text-2,
    .res-text-3 {
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 960px) {

    /* HOME section */

    h1 {
        font-size: 1.8rem;
    }

    span.sm-name {
        font-size: 20px;
    }

    p.intro {
        font-size: 14px;
    }

    .nav-links li>a {
        font-size: 14px;
    }

    i.fab {
        font-size: 25px;
    }

    /* About section */

    .about-txt {
        font-size: 14px;
        letter-spacing: 1px;
    }

    br.email-break {
        display: inline-block;
    }

    .about-info h4 {
        margin: 1rem 2rem;
    }

    /* Contact section */

    #contact {
        padding-left: 5%;
        padding-right: 5%; 
    }

    /* Resume section */

    .res-text-1 h3,
    .res-text-2 h3,
    .res-text-3 h3 {
        font-size: 1.1rem;
    }

    .res-text-1 h5,
    .res-text-2 h5,
    .res-text-3 h5 {
        font-size: 0.9rem;
    }

    .res-info h3 {
        font-size: 1.5rem;
    }

    /* Works section */ 

    #works h2 {
        font-size: 1.7rem;
    }

}

@media only screen and (max-width: 800px) {

    /* HOME section */

    .nav-links li>a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {

    /* Home section  */

    header {
        height: 75px;
        display: block;
    }

    button#close-menu-btn {
        display: block;
    }

    div.nav-links {
        display: none;
        background-color:rgba(149, 150, 205, 0.849);
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem 2rem;
        transition: 0.2 ease-in-out;
    }

    .top-scroll-links > li {
        display: block;
        margin: 1rem 0rem;
    }

    /* .centered {
        min-height: 739px;
    } */

    h1 {
        top: 35%;
    }

    div.blur {
        padding: 1rem;
    }

    /* About section  */

    h2.h2-about {
        font-size: 2rem;
    }

    .resume button {
        margin: 1rem 2rem;
    }

    .contact-details {
        font-size: 12px;
    }

    .rad {
        width: fit-content;
        line-height: unset;
        height: fit-content;
        padding: 15px 20px;
    }

    /* Resume section */

    .res-text-1,
    .res-text-2,
    .res-text-3 {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .res {
        justify-content: center;
    }

    .res-info h3 {
        font-size: 2.5rem;
    }

    .res-text-1 h5,
    .res-text-2 h5,
    .res-text-3 h5 {
        font-size: 1.25rem;
    }

    .res-text-1 h3,
    .res-text-2 h3,
    .res-text-3 h3 {
        font-size: 1.5rem;
    }

    /* Works section */

    .c-card img.img-card {
        height: auto;
    }

    #works h2 {
        font-size: 1.5rem;
        letter-spacing: 7px;
    }

}

@media only screen and (max-width: 575px) {
    /* Home section  */

    span.sm-name {
        font-size: 18px;
    }

    /* About section  */

    br.email-break {
        display: none;
    }

    h2.contact-heading {
        font-size: 1.5rem;
    }

    h2.h2-about,
    .res-info h3,
    #works h2 {
        font-size: 1.2rem;
    }

    .res-info h3 {
        letter-spacing: 3px;
    }

    #works h2 {
        margin-top: 4rem;
        margin-bottom: 4rem; 
    }

    .about-info h4 {
        font-size: 1rem;
    }

    /* Resume section */

    .res-text-1 h3,
    .res-text-2 h3,
    .res-text-3 h3 {
        font-size: 1.25rem;
    }

    .res-text-1 h5,
    .res-text-2 h5,
    .res-text-3 h5 {
        font-size: 1rem;
    }

    /* Contact section  */

    label {
        margin: 0;
    }

    /* Footer section */

    footer {
        padding: 15%;
    }

    .nav-icons li>a {
        margin: 0rem 1rem;
    }

    span.scroll-top {
        font-size: 2.5rem;
        padding: 0.5rem;
    }

}

@media only screen and (max-width: 525px) {

    button#close-menu-btn>i {
        font-size: 1.5rem;
    }

    h2.h2-about, .resume button {
        margin: 1rem 0.5rem;
    }

    p.p-top-txt, .contact-details p {
        margin: 0.5rem;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }

    i.fab {
        font-size: 20px;
    }

    .nav-icons li>a {
        font-size: 1rem;
        margin: 0rem 0.3rem;
    }

    .blur hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .copy-rights p {
        font-size: 12px;
    }

}


@media only screen and (max-width: 330px) {
    body {
        font-size: 14px;
    }
    
    h1 {
        font-size: 1.2rem;
        top: 20%;
    }

    #contact {
        padding-left: 15px;
        padding-right: 15px;
    }

    h2.h2-about,
    h2.contact-heading,
    .res-info h3,
    #works h2 {
        font-size: 1.1rem;
    }

    .contact-intro p {
        font-size: 0.9rem;
    }

    .contact-txt-right h4 {
        font-size: 1.3rem;
    }

    .contact-txt-right h5 {
        font-size: 1rem;
    }

    span.sm-name {
        font-size: 16px;
    }

    i.fab {
        font-size: 18px;
    }

    /* About section  */

    br.email-break,
    br.email-break-2 {
        display: block;
    }

    .resume {
        margin: 0rem;
    }

    .rad {
        padding: 10px 15px;
        font-size: 12px;
    }

    /* Resume section  */

    .res-info h3 {
        font-size: 1.2rem;
        border-bottom: 1px solid plum;
    }

}

@media only screen and (max-width: 260px) {
    h1 {
        display: none;
    }
}